<!DOCTYPE html>
<html>
    <head>
        <title>Run</title>
        <style>
            * {
              background-color: black;
            }
            canvas {
              background: black;
              display: block;
              margin: 20px auto;
              outline-color: aquamarine;
              outline-style: solid;
            }
          </style>
    </head>
    <body>
        <canvas id="canvas" width="400" height="240"></canvas>
        <script src="static/script.js"></script>
    </body>
</html>